@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";



@theme {
  /* Colores personalizados */
  --color-primary: #ebadc1;
  --color-accent-pink: #f7c9d6;
  --color-cream-bg: #fff7e9;
  --color-sage-green: #e8f3e8;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221810;

  /* Fuentes personalizadas */
  --font-display: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;

  /* Border radius personalizado */
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  /* Textcolor */
    --chocolate: #734626fc;

    /* Typography */
    --font-family-caveat: 'Caveat';
    --font-family-didot: 'GFS Didot', serif;
    --font-family-nunito: 'Nunito', sans-serif;

}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} 